{% extends 'base.html'%}
{% load staticfiles %}
{%block title%} 커뮤니티 {%endblock%}
{% block content %}


<style>
  a {
    color: black;
    text-decoration: none;
  }

  .board {
    width: 100%;
    height: 957px;
    background: url("{% static 'img/board_background.jpg' %}");
    background-size: 100% 100%;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: repeat(20, 5%);
  }

  .dodo {
    grid-row: 3/5;
    grid-column: 1/2;
    margin: auto auto auto 70px;
  }

  .myroom {
    grid-row: 6/8;
    grid-column: 1/2;
    margin: auto auto auto 85px;
  }

  .the_writes {
    grid-row: 9/10;
    grid-column: 1/2;
    margin: 20px auto auto 70px;
  }

  .my_reple {
    grid-row: 10/11;
    grid-column: 1/2;
    margin: 19px auto auto 70px;
  }

  .scrap {
    grid-row: 11/12;
    grid-column: 1/2;
    margin: 17px auto auto 70px;
  }

  .hot_post {
    grid-row: 12/13;
    grid-column: 1/2;
    margin: 15px auto auto 70px;
  }

  .best_post {
    grid-row: 13/14;
    grid-column: 1/2;
    margin: 13px auto auto 70px;
  }


  #header {
    height: 40px;

  }

  #sidebar {
    float: left;
    height: 1000px;
    width: 250px;

  }

  #content {
    height: 500px;
    background: white;
  }

  #footer {
    height: 80px;
    background: #0099ff;
  }

  .user_profile {
    height: 120px;
    padding: 0px 0px 40px 0px;
  }

  #user_photo {
    float: left;
    width: 120px;
    height: 120px;
    padding: 20px 20px 20px 20px;
    border-radius: 50%;
  }

  #user_name {
    float: left;
    width: 100px;
    padding: 30px 0px 1 0px 20px;
  }

  #user_room {
    padding: 30px 0px 0px 20px;
  }
</style>

<div class="board">
  <div class="dodo">
    <img src="{% static 'img/dodo.jpg' %}">
  </div>
  <div class="myroom">
    <button type="button" class="btn btn-warning">내 방 관리</button>
  </div>
  <div class="the_writes">
    <a href="">내가 쓴 글</a>
  </div>
  <div class="my_reple">
    <a href="">댓글 단 글</a>
  </div>
  <div class="scrap">
    <a href="">스크랩</a>
  </div>
  <div class="hot_post">
    <a href="">HOT 게시판</a>
  </div>
  <div class="best_post">
    <a href="">BEST 게시판</a>
  </div>





  <!--
  <div id="sidebar">
    <div class="user_profile">
      <div><img id="user_photo" src="{% static 'contents.jpg' %}"></div>
      <div id="user_name">김보연</div>
      <div id="user_room"><button>내 방관리</button></div>
    </div>

    <div class="Mypost">
      <ul>
        <li class="post-item"><a href="" class="nav-link">내가 쓴 글</a></li>
        <li class="post-item"><a href="" class="nav-link">댓글 단 글</a></li>
        <li class="post-item"><a href="" class="nav-link">스크랩</a></li>
        <li class="post-item"><a href="" class="nav-link">HOT 게시판</a></li>
        <li class="post-item"><a href="" class="nav-link">BEST 게시판</a></li>
      </ul>
    </div>
    <div class="">
      <ul>
        <li class="post-item"><a href="" class="nav-link">자유게시판</a></li>
        <li class="post-item"><a href="" class="nav-link">빈방있어요</a></li>
        <li class="post-item"><a href="" class="nav-link">맛집게시판</a></li>
        <li class="post-item"><a href="" class="nav-link">우리동네 프리마켓</a></li>
      </ul>
    </div>
    <div>
      <input type="text" placeholder="검색어 입력">
      <button>검색</button>
    </div>
    <div class="">
      <ul>
        <li class="post-item"><a href="" class="nav-link">자유게시판</a></li>
        <li class="post-item"><a href="" class="nav-link">빈방있어요</a></li>
        <li class="post-item"><a href="" class="nav-link">맛집게시판</a></li>
        <li class="post-item"><a href="" class="nav-link">우리동네 프리마켓</a></li>
      </ul>
    </div>

  </div>

  <div id="header"> header </div>
  {% for board in posts %}
  <br>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ board.title }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ board.pub_date }}</h6>
      <p class="card-text">{{ board.summary}}</p>
      <a href="{% url 'detail' board.id %}">...more</a>
    </div>
    {% endfor %}

    <div class="page">
      {%if posts.has_previous%}
      <a href="?page=1">First</a>
      <a href="?page={{posts.previous_page_number}}">Previous</a>
      {%endif%}

      {{posts.number}}of{{posts.paginator.num_pages}}

      {%if posts.has_next%}
      <a href="?page={{posts.next_page_number}}">Next</a>
      <a href="?page={{posts.paginator.num_pages}}">Last</a>
      {%endif%}
    </div>

    <div id="user_write"><a href="{% url 'new' %}">글쓰기</a></div>
-->


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>

</div>


<script>
  /*$("#slider").mouseover(function(){$("html").toggleclass("open");});
        $("#slider").mouseleave(function(){$("html").toggleclass("close");});*/
</script>
{% endblock %}

</html>