main {
    height: 1038px;
}

.main-left {
    background: url("../img/main_left_light.jpg") no-repeat top right;
}

.main-left:hover {
    cursor: pointer;
    background: url("../img/main_left_handsup.jpg") no-repeat top right;
}

.main-right {
    background: url("../img/main_right_light.jpg") no-repeat top left;
}

.main-right:hover {
    cursor: pointer;
    background: url("../img/main_right_handsup.jpg") no-repeat top left;
}
